<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <meta charset=“UTF-8”>
  <meta name="Description" content="A website by Ruaridh Mollica about Ruaridh Mollica">
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet" />
  <link href="/static/css/mdb.min.css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/static/img/me.png">
  <link rel="icon" href="/static/img/me.png" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <title>Ruaridh Mollica</title>
</head>


<body style="background-color: #ffffff  !important;"  writeit-autostart>

<!-- DESKTOP Navbar-->
<nav class="navbar navbar-expand-lg bg-dark desknav mobhide" style="background-color: #ffffff !important;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse desknav mobhide pl-4 justify-content-center align-items-center text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav mobhide">
          <a class="nav-link navtitle"  style="font-size: 0.7em !important;" aria-current="page" id="home" href="index.html">HOME</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" id="tour" href="acting.html">ACTING</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="projects.html">PROJECTS</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="cv.html">CV</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- ./ DESKTOP Navbar -->
 
  <!--MOBILE Navbar-->
<nav class="navbar navbar-light deskhide" style="background-color: #ffffff;">
  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example deskhide" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x p-2" style="font-size: 2em; background-color: #ffffff;"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse deskhide pt-5" id="navbarSupportedContent1" style="background-color: #ffffff !important; opacity: 100% !important;">

    <!-- Links -->
    <ul class="navbar-nav mr-auto deskhide" style="background-color: #ffffff !important; ">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 2em;" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="acting.html">Acting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="projects.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="cv.html">CV</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</nav>
<!--/. MOBILE Navbar-->

  </body>

  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/WriteIt.js"></script>
  </html>