<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <meta charset=“UTF-8”>
  <meta name="Description" content="A website by Ruaridh Mollica about Ruaridh Mollica">
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet" />
  <link href="/static/css/mdb.min.css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/static/img/me.png">
  <link rel="icon" href="/static/img/me.png" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <title>Ruaridh Mollica</title>
</head>


<body style="background-color: #ffffff  !important;"  writeit-autostart>

  <!-- DESKTOP Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark desknav mobhide" style="background-color: #ffffff !important;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse desknav mobhide pl-4 justify-content-center align-items-center text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav mobhide">
          <a class="nav-link navtitle"  style="font-size: 0.7em !important;" aria-current="page" id="home" href="/">HOME</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" id="tour" href="/acting">ACTING</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="/projects">PROJECTS</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="/cv">CV</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- ./ DESKTOP Navbar -->
 
  <!--MOBILE Navbar-->
<nav class="navbar navbar-light deskhide" style="background-color: #ffffff;">
  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example deskhide" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x p-2" style="font-size: 2em; background-color: #ffffff;"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse deskhide pt-5" id="navbarSupportedContent1" style="background-color: #ffffff !important; opacity: 100% !important;">

    <!-- Links -->
    <ul class="navbar-nav mr-auto deskhide" style="background-color: #ffffff !important; ">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 2em;" href="/index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/acting">Acting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/cv">CV</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</nav>
<!--/. MOBILE Navbar-->


  <div class="p-5 pt-0 justify-content-center d-flex">
    <div class="row pt-0 pb-3 d-flex">
      <div class="pt-5">

       
        <!-- ---------- DESKTOP Image and Socials -------------->
      <div class = "row mobhide container align-items-center text-center justify-content-center d-flex">
      
      <div class="col-5 d-flex mobhide">
    
          <div class="d-flex mobhide" style="position:-webkit-sticky">
            <img class="pt-0 mobhide" src="/static/img/me.png" style="height: 100%; width: 100%; border-radius: 20%;;">
          </div>
      </div>
      
      <div class="col-5 pt-5 mobhide">
          <h4 class="font text-black" writeit-animate style="font-size: 2.4em; font-weight: bold;">Hi, I'm Ruaridh.</h4>
         <br>
          <!-- buttons -->
          <div class="row pt-3 icons">
            <div class="col">
              <a href="https://www.linkedin.com/in/ruaridhmollica/"><i class="fab fa-linkedin text-black"
                  style="font-size: 3em; opacity: 1; color: #0072b1;"></i></a>
            </div>
            <div class="col">
              <a href="https://www.imdb.com/name/nm5683002/"><i class="fab fa-imdb text-black"
                  style="font-size: 3em; opacity: 1; color: #f3ce13;"></i></a>
            </div>
            <div class="col">
              <a href="https://www.github.com/ruaridhmollica"> <i class="fab fa-github text-black"
                  style="font-size: 3em; opacity: 1; color: rgb(0, 0, 0);"></i></a>
            </div>
            <div class="col">
              <a href="https://www.instagram.com/ruaridhmollica/"> <i class="fab fa-instagram text-black"
                  style="font-size: 3em; opacity: 1; color: #8a3ab9;"></i></a>
            </div>
          </div>
          <div class="row icons">
            <div class="col">
              <a href="https://www.linkedin.com/in/ruaridhmollica/">
                <p class="text-black">LinkedIn</p>
              </a>
            </div>
            <div class="col">
              <a href="https://www.imdb.com/name/nm5683002/">
                <p class="text-black">IMDb</p>
              </a>
            </div>
            <div class="col">
              <a href="https://www.github.com/ruaridhmollica">
                <p class="text-black">GitHub</p>
              </a>
            </div>
            <div class="col">
              <a href="https://www.instagram.com/ruaridhmollica/">
                <p class="text-black">Instagram</p>
              </a>
              </a>
            </div>
          </div>
      </div>

      </div>
      <!-------------- END DESKTOP Image and Socials ----------------->

       <!-- ---------- MOBILE Image and Socials -------------->
       <div class = "row deskhide container align-items-center text-center justify-content-center d-flex pt-5">
      
        <div class="col d-flex deskhide pt-5">
      
            <div class="d-flex deskhide">
              <img class="pt-0 deskhide" src="/static/img/me.png" style="height: 100%; width: 100%; border-radius: 20%;">
            </div>
        </div>

       </div>

       <div class = "row deskhide container align-items-center text-center justify-content-center d-flex"> 
        <div class="col pt-5 deskhide">
            <h4 class="font text-black pt-5" writeit-animate style="font-size: 4.3em; font-weight: bold;">Hi, I'm Ruaridh.</h4>
           <br>
            <!-- buttons -->
            <div class="row pt-3 icons">
              <div class="col">
                <a href="https://www.linkedin.com/in/ruaridhmollica/"><i class="fab fa-linkedin text-black"
                    style="font-size: 7em; opacity: 1; color: #0072b1;"></i></a>
              </div>
              <div class="col">
                <a href="https://www.imdb.com/name/nm5683002/"><i class="fab fa-imdb text-black"
                    style="font-size: 7em; opacity: 1; color: #f3ce13;"></i></a>
              </div>
              <div class="col">
                <a href="https://www.github.com/ruaridhmollica"> <i class="fab fa-github text-black"
                    style="font-size: 7em; opacity: 1; color: rgb(0, 0, 0);"></i></a>
              </div>
              <div class="col">
                <a href="https://www.instagram.com/ruaridhmollica/"> <i class="fab fa-instagram text-black"
                    style="font-size: 7em; opacity: 1; color: #8a3ab9;"></i></a>
              </div>
            </div>
            <div class="row pt-1 icons">
              <div class="col">
                <a href="https://www.linkedin.com/in/ruaridhmollica/">
                  <h2 class="text-black">LinkedIn</h2>
                </a>
              </div>
              <div class="col">
                <a href="https://www.imdb.com/name/nm5683002/">
                  <h2 class="text-black">IMDb</h2>
                </a>
              </div>
              <div class="col">
                <a href="https://www.github.com/ruaridhmollica">
                  <h2 class="text-black">GitHub</h2>
                </a>
              </div>
              <div class="col">
                <a href="https://www.instagram.com/ruaridhmollica/">
                  <h2 class="text-black">Instagram</p>
                </a>
                </a>
              </div>
            </div>
        </div>
  
        </div>
        <!-------------- END MOBILE Image and Socials ----------------->


        <!-- DESKTOP about me-->
        <div class = "row mobhide container align-items-center text-center justify-content-center d-flex">

        <div class="col align-items-center justify-content-center">
          <div class="mr-lg-0 mb-4 mobhide mt-4 align-items-center justify-content-center text-center">
      
            <!-- Card content -->
            <div class="align-items-center justify-content-center text-center col">
      
              <!-- Title -->
              <div class="row align-items-center justify-content-center text-center pb-0 pt-4">
                <h4 class="pl-3 " style="font-size: 3em; font-weight: bold; color: rgb(0, 0, 0);"> About Me</h4>
              </div>
        
              <div class="row align-items-center justify-content-center text-left pt-3">
                <h4 style="text-align: justify;">
                  I am a creative, analytical, and driven individual with a First Class degree in Computer Science (BSc). 
                  I love all things tech with my primary passion lying within the cyber security sector and cryptocurrencies. 
                  When i’m not programming I act. 
                  I have been a professional TV and screen actor since 2012 and I aim to continue this career alongside my other interests.
                </h4>

              </div>
          
            </div>
          </div>
        </div>
        </div>
        <!-- ./ DESKTOP ABOUT ME-->

        <!-- MOBILE about me-->
 <div class = "row deskhide container align-items-center text-center justify-content-center d-flex">

  <div class="col align-items-center justify-content-center">
    <div class="mr-lg-0 mb-4 deskhide mt-4 align-items-center justify-content-center text-center">

      <!-- Card content -->
      <div class="align-items-center justify-content-center text-center col">

        <!-- Title -->
        <div class="row align-items-center justify-content-center text-center pb-0 pt-5">
          <h4 class="pl-3 " style="font-size: 5.5em; font-weight: bold; color: blue;"> About Me</h4>
        </div>
  
        <div class="row align-items-center justify-content-center text-left pt-3" style="text-align: justify;">
          <h1 style="text-align: justify;">
            I am a creative, analytical, and driven individual with a First Class degree in Computer Science (BSc). 
            I love all things tech with my primary passion lying within the cyber security sector and cryptocurrencies. 
            When i'm not programming I act. 
            I have been a professional TV and screen actor since 2012 and I aim to continue this career alongside my other interests.
          </h1>

        </div>
    
      </div>
    </div>
  </div>
  </div>
  <!-- ./ MOBILE ABOUT ME-->

    </div>
  </div>
  </div>

  
 



<!-- footer -->
  <div class="pt-5 w-100 justify-content-center ">
    <!-- Card -->
    <div class="justify-content-center d-flex text-center " style="background-color: #ffffff;">
      <!-- Content -->
      <div class="text-black text-center d-flex align-items-center py-5 px-4 justify-content-center">
        <div>
          <h3 class="pb-2 deskhide text-black">This is a work in progress</h3>
          <p class="pb-2 pt-3 mobhide text-black">This is a work in progress</p>
        </div>
      </div>

    </div>

  </div>
<!-- footer-->

</body>


<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/mdb.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/WriteIt.js"></script>

</html>