<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <meta charset=“UTF-8”>
  <meta name="Description" content="A website by Ruaridh Mollica about Ruaridh Mollica">
  <link href="/static/fontawesome/css/all.min.css" rel="stylesheet" />
  <link href="/static/css/mdb.min.css" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/static/img/me.png">
  <link rel="icon" href="/static/img/me.png" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <title>Ruaridh Mollica</title>
</head>


<body style="background-color: #ffffff  !important;"  writeit-autostart>

  <!-- DESKTOP Navbar-->
<nav class="navbar navbar-expand-lg bg-dark desknav mobhide" style="background-color: #ffffff !important;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse desknav mobhide pl-4 justify-content-center align-items-center text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav mobhide">
          <a class="nav-link navtitle"  style="font-size: 0.7em !important;" aria-current="page" id="home" href="/">HOME</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" id="tour" href="/acting">ACTING</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="/projects">PROJECTS</a>
          <a class="nav-link pl-5 navtitle"  style="font-size: 0.7em !important;" href="/cv">CV</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- ./ DESKTOP Navbar -->
 
  <!--MOBILE Navbar-->
<nav class="navbar navbar-light deskhide" style="background-color: #ffffff;">
  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example deskhide" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x p-2" style="font-size: 2em; background-color: #ffffff;"></i></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse deskhide pt-5" id="navbarSupportedContent1" style="background-color: #ffffff !important; opacity: 100% !important;">

    <!-- Links -->
    <ul class="navbar-nav mr-auto deskhide" style="background-color: #ffffff !important; ">
      <li class="nav-item active">
        <a class="nav-link" style="font-size: 2em;" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/acting">Acting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 2em;" href="/cv">CV</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</nav>
<!--/. MOBILE Navbar-->


<!------------------------------------ Begin Projects Section DESKTOP ------------------------------------------>

<div class="pt-4 w-100 justify-content-center mt-4 mobhide">
    <!-- Card -->
    <strong>
        <h3 class="black-text pb-5" style="font-size: 4em; font-weight: bold;"><i class="fas fa-code" style="color: blue;"></i> Projects</h3>
      </strong>
<div class="card justify-content-center d-flex text-center" style="background-color: #1a1919;">

    <div>
        <div>
        <div class="row pl-4 pt-3">
        <h1 class="white-text float-left pl-4" style="font-weight: bold; font-size: 3em;">Iglü</h1>
        <h3 class="white-text float-left pl-4 pt-3" style="font-weight: bold;"> - December 2019</h3>
        </div>
    
        <div class="row">
          <div class="col text-center">
              <img class="" src="/static/img/iglu2.png" alt="iglu image" style="width: 100%; height: 100%;">
        </div>
        <div class="col pt-5">
              <p class="white-text pr-5 pt-5" style="font-weight: bold;"> Iglü is a software application designed to monitor 
                and control a fully renewable smart home. This application was created by Nacdlow, a team of six 3rd Year 
                students(including myself), assigned by the University for our Group Project task.</p>
                <p class="white-text pr-5 pt-2" style="font-weight: ;"> This project consisted of: The smart home system, interfaced with as a responsive web application (PWA)
                    Plugin API allowing devices and applications to interface with iglü
                    Marketplace (we’ll get back to this) with additional plugins
                    Internal wiki with training/learning materials, records of meetings, style guides, member roles, etc.
                    Custom DNS server allowing us to test on mobile devices
                    Payment gateway with Stripe (in testing mode)
                    Custom Raspbian distribution to run the system on a Raspberry Pi, enabling iglü as a system service and adding debugging functionality
                    Custom designed and 3D printed case for the Pi
                    Plugin packager application to speed up compiling to selected operating systems, compressing, and packaging plugins for the marketplace</p>
        </div>
        </div> 

        <div class="row">
            <div class="col pt-1">
                <h3 class="white-text pr-0 pt-3" style="font-weight: bold;"> Languages</h3>
                <div class="row pt-4 pl-1">
                    <div class="col">
                      <img src="/static/img/golang-icon.svg" class="pt-0" alt="Golang" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col">
                      <i class="fab fa-html5 orange-text pt-3" style="font-size: 4em;"></i>
                    </div>
                    <div class="col">
                      <i class="fab fa-css3-alt blue-text pt-3" style="font-size: 4em;"></i>
                    </div>
                    <div class="col">
                      <i class="fab fa-js yellow-text pt-3" style="font-size: 4em;"></i>
                    </div>
                    <div class="col">
                      <i class="fab fa-mdb blue-text pt-3" style="font-size: 4em;"></i>
                    </div>
                  </div>
                  <div class="row pt-0 pl-1">
                    <div class="col">
                      <p class="card-text white-text" style="font-size:small;">Golang</p>
                    </div>
                    <div class="col">
                      <p class="card-text white-text" style="font-size: small;">HTML5</p>
                    </div>
                    <div class="col">
                      <p class="card-text white-text" style="font-size: small;">CSS3</p>
                    </div>
                    <div class="col">
                      <p class="card-text white-text" style="font-size: small;">Javascript</p>
                    </div>
                    <div class="col">
                      <p class="card-text white-text" style="font-size: small;">MDB</p>
                    </div>
                  </div>
          </div>
            <div class="col text-center">
                <iframe width="420" height="315" src="https://www.youtube.com/watch?v=KMfItuTf2jQ">
                </iframe>
          </div>
        
          </div> 
    

      </div>
  


      </div>

</div>
</div>

<div class="pt-4 w-100 justify-content-center d-flex mt-4 mobhide">

      <!-- Content -->
      <div class="text-white w-100 text-center d-flex align-items-center py-5 px-4 justify-content-center">
      
      </div>

  </div>
  <!--------------------------------- End DESKTOP Projects Section -------------------------------------->




  <!---------------------------------- Begin MOBILE Projects Section ------------------------------------->
  <div class="pt-5 w-100 justify-content-center mt-4 deskhide" style="border: black !important;">
   
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center py-5 px-4 justify-content-center">
        <div>
          <strong>
            <h1 class="blue-text pb-2" style="font-size: 3.5em;"><i class="fas fa-code"></i> Projects</h1>
          </strong>
          <h2 class="pb-4">Over the last 3 years i have undertaken a variety of projects, some of my favourites are
            highlighted below.</h2>

          <!--PROJECT CARDS-->
    
      <div class="scrolling-wrapper-flexbox">

      <div class="row justify-content-center">
      <!-- Card -->
      <div class="card mb-5">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/static/img/iglu.jpg" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <strong><h1 class="card-title black-text">Iglü</h1></strong>
          <!--Text-->
          <h2 class="black-text">Iglü is a software application designed to monitor and control a fully renewable
            smart home.
            This application was created by Nacdlow, a team of six 3rd Year students(including myself), assigned
            by the
            University for our Group Project task.
          </h2>

          <div class="pt-0 pb-0">
            <hr class="horizontal">
          </div>
          <div class="row">
            <div class="col">
              <img src="/static/img/golang-icon.svg" class="pt-0" style="width: 6em;" alt="Golang">
            </div>
            <div class="col">
              <i class="fab fa-html5 orange-text pt-3" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-css3-alt blue-text pt-3" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-js yellow-text pt-3" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-mdb blue-text pt-3" style="font-size: 4em;"></i>
            </div>
          </div>
          <div class="row pt-0">
            <div class="col">
              <p class="card-text" style="font-size:medium;">Golang</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size: medium;">HTML5</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size: medium;">CSS3</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size: medium;">Javascript</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size: medium;">MDB</p>
            </div>
          </div>
          <div class="pt-0">
            <hr class="horizontal">
          </div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <div class="row justify-content-center d-flex text-center">
            <div class="col">
              <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
                onclick="window.open(window.location.href='https://www.youtube.com/watch?v=KMfItuTf2jQ')">Watch
                Video</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
                onclick="window.open(window.location.href='https://github.com/Nacdlow')">View on GitHub</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
                onclick="window.open(window.location.href='https://demo.nacdlow.com/')">Demo the App</button>
            </div>
          </div>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-5">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/static/img/mp.jpg" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <strong><h1 class="card-title black-text">Movie Information Service</h1></strong>
          <!--Text-->
          <h2 class="black-text">This simple web service works using RESTFUL API calls to a large movie database
            and then updating the web page content without page refresh using AJAX and Javascript.</h2>
          <div class="pt-2">
            <hr class="horizontal">
          </div>
          <div class="row pt-3">
            <div class="col">
              <i class="fab fa-php blue-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-html5 orange-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-css3-alt blue-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-js yellow-text" style="font-size: 4em;"></i>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
              <p class="card-text" style="font-size:medium;">PHP</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">HTML5</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">CSS3</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">Javascript</p>
            </div>
          </div>
          <div class="pt-0">
            <hr class="horizontal">
          </div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <div class="row justify-content-center d-flex text-center">
            <div class="col">
              <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
                onclick="window.open(window.location.href='https://github.com/ruaridhmollica/MoviePoster-Service')">
                View on GitHub</button>
            </div>
          </div>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-5">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/static/img/master.jpg" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h1 class="card-title black-text">Mastermind.c</h1>
          <!--Text-->
          <h2 class="black-text">This project re-created the popular boardgame Mastermind with a Rasperry Pi 3 using the RPi3 
            breadboard with LEDS and LCD for output, and a button for input. It is written in C with GPIO pins and memory 
            location handling using inline Assembly.</h2>
          <div class="pt-2">
            <hr class="horizontal">
          </div>
          <div class="row pt-3">
            <div class="col">
              <h3 class="fab black-text" style="font-size: 4em;">C</h3>
            </div>
            <div class="col">
              <h2 class="fab blue-text" style="font-size: 4em;">ASM</h2>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
              <p class="card-text" style="font-size:medium;">C</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">Assembly</p>
            </div>
          </div>
          <div class="pt-0">
            <hr class="horizontal">
          </div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
            onclick="window.open(window.location.href='https://github.com/ruaridhmollica/Mastermind.c')">
            View on GitHub</button>

        </div>

      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-5">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/static/img/website.jpg" alt="Card image cap">
            <div class="mask rgba-white-slight"></div>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h1 class="card-title black-text">ruaridhmollica.com</h1>
          <!--Text-->
          <h2 class="black-text">The website you are currently using :). An online space dedicated to digitizing my CV. 
            This website uses the MDB framework and is hosted for free using GitLab Pages.</h2>
          <div class="pt-2">
            <hr class="horizontal">
          </div>
          <div class="row pt-3">
            <div class="col">
              <i class="fab fa-html5 orange-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-css3-alt blue-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-js yellow-text" style="font-size: 4em;"></i>
            </div>
            <div class="col">
              <i class="fab fa-mdb blue-text pt-3" style="font-size: 4em;"></i>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col">
              <p class="card-text" style="font-size:medium;">HTML5</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">CSS3</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">Javascript</p>
            </div>
            <div class="col">
              <p class="card-text" style="font-size: medium;">MDB</p>
            </div>
          </div>
          <div class="pt-0">
            <hr class="horizontal">
          </div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
            onclick="window.open(window.location.href='https://github.com/ruaridhmollica/ruaridhmollica.com')">
            View on GitHub</button>

        </div>

      </div>
      <!-- Card -->
      <!-- Card -->
      <div class="card ">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="/static/img/steg.jpg" alt="Card image cap">
         
            <div class="mask rgba-white-slight"></div>
       
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h1 class="card-title black-text">PPM Steganography Program</h1>
          <!--Text-->
          <h2 class="black-text">A program written in C that performs Steganography to to hide text within the least significant bits 
            of a PPM image's RGB values.</h2>
          <div class="pt-2">
            <hr class="horizontal">
          </div>
          <div class="row pt-3">
            <div class="col">
              <i class="black-text" style="font-size: 4em;">C</i>
            </div>
            <div class="col">
              <p class="card-text" style="font-size:medium;">C</p>
            </div>
          </div>
          <div class="pt-0">
            <hr class="horizontal">
          </div>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-black btn-lg text-white" style="font-size: 2em;"
            onclick="window.open(window.location.href='https://github.com/ruaridhmollica/steg')">
            View on Github</button>

        </div>

      </div>
      <!-- Card -->

    </div>
  </div>
          <!--END PROJECT CARDS-->
        </div>

      </div>

  </div>
  <!-- ---- End MOBILE Projects Section ---- -->


  </body>

  <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/WriteIt.js"></script>
  </html>